@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular 400.ttf");

  url: ("../fonts/Roboto-Regular 400.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 84px 0 0 0;
}

.main {
  background-color: #eeeeee;

  font-family: "Roboto";
}

#introducing {
  background-color: #ffffff;
}

.content {
  max-width: 1109px;
  padding: 48px 55px 92px 55px;
  margin: 0 auto;
}

section {
  margin: 0px;
}

.main p {
  font-size: 32px;
  line-height: 37px;

  margin: 0px 0px 35px 0px;
}

section p:last-child{
  margin-bottom: 0px;
}

header {
  background-color: #007765;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 55px 19px 55px; /*прям как в шаблоне*/
}

a > img {
  max-width: 184px;
}

header a:first-child {
  height: 45px;
}

nav {
  margin: auto 0px;
}

nav a {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.main {
  margin-top: 84px;
}

.piperNet {
  background-image: url("../img/Jumborton.png");
}

.together {
  background-image: url("../img/hero.png");
}

.hero_text {
  text-align: center;
  color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0px;

  font-size: 72px;
  line-height: 84px;
}



.together h1 {
  font-size: 48px;
  line-height: 56px;
  font-style: italic;
}

.block__hero {
  min-height: 403px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#introducing img {
  width: 115px;
  float: left;
  margin-right: 48px;
}

#introducing img::after {
  content: "";
  clear: both;
}

section h1 {
  font-size: 64px;
  line-height: 75px;

  text-align: center;
  margin: 0px 0px 16px 0px;

  color: #007765;
}
