/*25.11.2020*/
body{
  margin: 79px 0 0 0;
}

.main {
  background-color: #eeeeee;
}


#introducing {
  background-color: #ffffff;
}

.content {
  max-width: 1109px;
  padding: 0px 55px;
  margin: 0 auto;
}

section{
  margin-bottom: 140px;
}

p{
  font-size: 32px;
}

header {
  background-color: #007765;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.flex{
  display: flex; 
  flex-direction: row;  
  justify-content: space-between;  
  padding: 15px 55px;
}

a> img{
  max-width: 184px;
}

nav{
  margin: auto 0px;
}

#introducing img{
  width: 115px;
  float: left;
  margin-right: 48px;
}

#introducing img::after{
  content: "";
  clear: both;
}